
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <!-- One of three columns -->
      </div>
      <div class="col-md  col-lg col-xl">
          <div class="wizard-steps">
              <div class="steps">
                <span class="step-number" [ngClass]="{'step-number-active': step === 1}">1</span>
                <span>აირჩიეთ კატეგორია და მახასიათებლები</span>
              </div>
              <div class="steps">
                <span class="step-number" [ngClass]="{'step-number-active': step === 2}">2</span>
                <span>პროდუქტის აღწერა</span>
              </div>
              <div class="steps"> 
                <span class="step-number" [ngClass]="{'step-number-active': step === 3}">3</span>
                <span>საკონტაქტო ინფორმაცია</span>
            </div>
          </div>

          <div class="steps-container">
            <form [formGroup]="form"  class="wizard-form" (ngSubmit)="onSubmit()">
              <ng-container [ngSwitch]="step">
                  <ng-container *ngSwitchCase="'1'"> 
                    <div class="choosed-category">
                      <li class="list-group-item" *ngIf="parentCategory" (click)="filterByParentCategory()">
                       <i class="fa fa-arrow-left"></i>  
                       {{ parentCategory?.title?.ge || parentCategory?.name }}
                     </li>
                  </div>

                  <div class="categories-container">
                    <input (input)="filterByCategoryName($event.target.value)" id="search-category" class="input-text" type="text" placeholder="მოძებნე კატეგორია">
                    <div  class="categories-list" style="margin-bottom: 50px;" id="style-1">
                      <li class="cat-list-item" *ngFor="let category of filteredCategoties" (click)="filterByCategory(category)">{{ category?.title?.ge || category?.name  }}</li>
                    </div>
                  </div>                 

                  <div>
                      <!-- start common filters -->
                    <div *ngIf="displayCommonFilters">
                      <div *ngFor="let filterItem of commonFilters">
                        <div *ngIf="filterItem.slug === 'price' && !priceWithAgreement" class="checkboxField">
                          <div> 
                            <label for="price" class="priceField">{{ filterItem?.title?.ge }}</label>
                            <input id="price" class="input-text" type="number" [name]="filterItem.slug" min="1"  value="0" placeholder="{{ filterItem?.title?.ge }}">
                          </div>
                        </div>

                        <div *ngIf="filterItem.slug === 'priceWithAgreement'" class="checkboxField">
                          <div class="color-black title-bold checkbox-title title">
                            {{ filterItem?.title?.ge }}
                          </div>
                          <div>
                            <input type="checkbox" [formControlName]="filterItem.slug"  [value]="filterItem.values" (change)="onChangeFilter($event, filterItem)">
                          </div>                           
                        </div>
                        <div *ngIf="filterItem.slug === 'canOfferPrice'" class="checkboxField">
                              <div class="color-black title-bold checkbox-title title">
                                {{ filterItem?.title?.ge }}
                              </div>
                              <div>
                                <input type="checkbox" [formControlName]="filterItem.slug"  [value]="filterItem.values" (change)="onChangeFilter($event, filterItem)">
                              </div>
                        </div>

                        <div >
                        <select *ngIf="filterItem.filterType === 'checkbox'" (change)="onChangeFilter($event.target.value, filterItem)">
                          <option value=''> {{ filterItem?.title?.ge }} </option>
                          <option *ngFor="let valueItem of filterItem.values" [value]="valueItem.id">
                            {{ valueItem?.ge }}
                          </option>
                        </select>
                        </div>

                        <p class="color-black title-bold"  *ngIf="filterItem.filterType === 'radio'"> {{ filterItem?.title?.ge }}</p>
                        <div *ngIf="filterItem.filterType === 'radio'" class="radio-toolbar">                           
                              <div *ngFor="let valueItem of filterItem.values" class="radio-item">
                                <input type="radio" [name]="filterItem.slug" id="{{ valueItem.id + filterItem.slug }}" (change)="onChangeRadioFilter($event, filterItem)"  [value]="valueItem.id">
                                <label for="{{valueItem.id + filterItem.slug}}">{{ valueItem.ge }}</label>
                              </div>
                        </div>

                      </div>
                    </div>
                   <!-- end common filters -->
                    <div *ngFor="let filterItem of filters">
                       <select class="w-100-procent p-tb-10" *ngIf="filterItem.filterType === 'checkbox'" (change)="onChangeFilter($event, filterItem)">
                         <option value=''> {{ filterItem?.title?.ge }} </option>
                         <option *ngFor="let valueItem of filterItem.values" [value]="valueItem.id">
                           {{ valueItem?.ge }}
                         </option>
                       </select>


                       <div class="color-black title-bold title" *ngIf="filterItem.filterType === 'radio'">
                          {{ filterItem?.title?.ge }}
                       </div>
                       <div *ngIf="filterItem.filterType === 'radio'" class="radio-toolbar checkboxField">
                          <div *ngIf="filterItem.filterType === 'radio'" class="radio-toolbar">   
                            <div *ngFor="let valueItem of filterItem.values" class="radio-item">
                              <input 
                                type="radio" 
                                id="{{ valueItem.id }}" 
                                [checked]="(form.get(filterItem.slug).value === valueItem.id)" 
                                (change)="onChangeRadioFilter($event, filterItem)"  
                                [value]="valueItem.id"
                              >
                              <label for="{{valueItem.id}}">{{ valueItem.ge }}</label>
                            </div>
                          </div>
                       </div>

                    </div>
                  </div>

                  </ng-container>
                  <ng-container *ngSwitchCase="'2'"> 

                   <div class="form-group">
                      <label>დასახელება</label>
                      <br>
                      <span class="wpcf7-form-control-wrap subject">
                          <input formControlName="title" type="text" aria-invalid="false" class="wpcf7-form-control wpcf7-text input-text" size="40" value="">
                      </span>
                  </div>

                  <div class="form-group">
                      <label>პროდუქტის აღწერა</label>
                      <br>
                      <span class="wpcf7-form-control-wrap your-message">
                          <textarea formControlName="description" aria-invalid="false" class="wpcf7-form-control wpcf7-textarea" rows="10" cols="40" name="your-message"></textarea>
                      </span>
                  </div>

                   <div *ngIf="cities">
                    <select class="w-100-procent p-tb-10" formControlName="city">
                      <option value=''> აირჩიეთ ქალაქი  </option>
                      <option *ngFor="let city of cities" [value]="city._id">
                        {{ city?.title?.ge }}
                      </option>
                    </select>
                  </div>

                  </ng-container>
                  <ng-container *ngSwitchCase="'3'"> 
                    
                    <p class="form-row form-row-wide">
                        <label for="phone">მობილური ტელეფონი
                            <span class="required">*</span>
                        </label>
                        <input  type="text" class="input-text" formControlName="phone" id="phone"/>
                    </p>

                  </ng-container>
              </ng-container>
                              
            </form>
          </div>
          <div class="buttons-pev-next">
            <button (click)="onPreviusStep()" class="btn btn-primary">
              <span class="search-btn"><i class="fa fa-arrow-left"></i> უკან</span>
            </button>
            <button (click)="onNextStep()" [disabled]="!form.valid" class="btn btn-primary ml-10">
              <span class="search-btn">შემდეგი  <i class="fa fa-arrow-right"></i></span>
            </button>
          </div>
       
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2">
        <!-- One of three columns -->
      </div>
    </div>
  </div>