.w-100-procent {
    width: 100%;
}
.title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.p-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.color-black {
    color: black;
}
.title-bold {
    font-weight: bold;
}

.priceField {
    font-size: 16px;
    position: absolute;
    margin-left: 10px;
    margin-top: -15;
    background: white;
    width: 65px;
    text-align: center;
}

.checkboxField{
    display: flex;
    align-items: center;
}

.wizard-steps {
    display: flex;
    // justify-content: flex-start;
}
.checkbox-title {
    margin-right: 5px;
}

.steps-container{
    margin-bottom: 10px;
}

.steps {
    padding: 10px;
    // margin: 10px;
    flex-grow: 1;
}

.step-number {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: 2px solid #fd6602;
    margin-right: 15px;
    justify-content: center;
    font-size: 18px;
    color: #fd6602;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.wizard-form {
    width: 400px;
}

button:disabled,
button[disabled]{
  border: 1px solid #fd6602;
  background-color: #fd6602;
  color: #ffff;
}

#search-category {
    width: 100%;
}

.choosed-category {
    margin-top: 10px;
}

.categories-container { 
    width: 400px;
    margin-top: 10px;
}

.categories-list {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

#style-1::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(214, 214, 214);
}

.cat-list-item {
    cursor: pointer;
    list-style: none;
}

.cat-list-item:hover{
    color: #fd6602;
}

.selects-container {
    display: flex;
    align-items: stretch;
}

.radio-toolbar {
    color: #ffff;
    // margin: 10px;
    display: flex;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ffff;
    color: #343a40;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #fd6602;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #fd6602;
    color: #ffff;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 2px dashed #fd6602;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #fd6602;
    border-color: #fd6602;
    color: #ffff;
}

.radio-item {
    margin-right: 5px;
}

.buttons-pev-next {
    margin-top: 20px;
}