<div id="content" class="site-content">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
              
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="type-page hentry">
                        <div class="entry-content">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                 <h2>{{'LOGIN.FORGOT_PASSWORD' | translate}}</h2> 
                                   <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="submit()" class="woocomerce-form woocommerce-form-login login">
                                       <p>{{'LOGIN.FORGOT_PASSWORD_DESCRIPTION' | translate}}</p>
                                    <p class="form-row form-row-wide">
                                        <label for="email">{{'LOGIN.EMAIL' | translate}}
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" class="input-text" formControlName="email" id="email"/>
                                    </p>
                                    <div class="input_error ml-15 mb-10" *ngIf="hasError(form, 'email', 'required', submitted)">
                                        {{'FORM_ERRORS.REQUIRED' | translate}}
                                    </div>
                                    <div class="input_error ml-15 mb-10" *ngIf="hasError(form, 'email', 'email', submitted)">
                                        {{'FORM_ERRORS.VALID_EMAIL' | translate}}
                                    </div>
                                    <p class="form-row">
                                        <button type="submit"  [disabled]="!form.valid"  class="woocommerce-Button button" >{{'SEND' | translate}}</button>
                                    </p>
                                   </form>
                                   <p *ngIf="submitted" class="input_error">
                                      {{'LOGIN.FORGOT_PASSWORD_SENT_SUCCESSFULLY' | translate}} 
                                   </p>
                                </div>
                                <!-- .customer-login-form -->
                            </div>
                            <!-- .woocommerce -->
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .hentry -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>