<!-- <ul role="tablist" class="account-nav">
    <li class="nav-item">
        <a class="nav-link active" href="#desktop-pc" data-toggle="tab">
            <span class="category-title">
                <i class="fa fa-list-alt icon-color"></i> ჩემი განცხადებები</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#ultrabooks" data-toggle="tab">
            <span class="category-title">
                <i class="fa fa-shopping-bag icon-color"></i> ჩემი მაღაზია</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#smartphones" data-toggle="tab">
            <span class="category-title">
                <i class="fa fa-id-card-o icon-color"></i> ანგარიშის რედაქტირება</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#internet-cams" data-toggle="tab">
            <span class="category-title">
                <i class="fa fa-lock icon-color"></i> პაროლის შეცვლა</span>
        </a>
    </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->
<div class="row">
    <div class="col-2">test</div>
    <div class="col-6">
        <form action="#" class="checkout woocommerce-checkout" method="post" name="checkout">
            <div id="customer_details" class="col2-set">
                <div class="col-1">
                    <div class="woocommerce-billing-fields">
                        <h3>Account Details</h3>
                        <div class="woocommerce-billing-fields__field-wrapper-outer">
                            <div class="woocommerce-billing-fields__field-wrapper">
                                <p id="billing_first_name_field" class="form-row form-row-first validate-required woocommerce-invalid woocommerce-invalid-required-field">
                                    <label class="" for="billing_first_name">First Name
                                        <abbr title="required" class="required">*</abbr>
                                    </label>
                                    <input type="text" value="" placeholder="" id="billing_first_name" name="billing_first_name" class="input-text ">
                                </p>
                                <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                    <label class="" for="billing_last_name">Last Name
                                        <abbr title="required" class="required">*</abbr>
                                    </label>
                                    <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                </p>
                                <div class="clear"></div>
                                <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                    <label class="" for="billing_phone">Phone
                                        <abbr title="required" class="required">*</abbr>
                                    </label>
                                    <input type="tel" value="" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                </p>
                                <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                    <label class="" for="billing_email">Email Address
                                        <abbr title="required" class="required">*</abbr>
                                    </label>
                                    <input type="email" value="" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                                </p>
                            </div>
                        </div>
                    </div>
            
                </div>
            
            </div>
            <!-- .col2-set -->

        </form>
    </div>
<div class="col-4">test</div>
</div>

