<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="formData">
    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

        <div class="inputs_container">
            <app-image-upload [image]="formData.thumbnail" (uploadComplete)="onUploadComplete($event)"></app-image-upload>
        </div>

        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
            <mat-label> <%=defField%> Ge </mat-label>
            <input matInput placeholder="<%=defField%>" name="<%=defField%>" formControlName="<%=defField%>">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> Title Ge </mat-label>
                <input matInput placeholder="Title Ge" name="Title Ge" formControlName="ge">
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> Title En </mat-label>
                <input matInput placeholder="Title En" name="Title En" formControlName="en">
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> Title Ru </mat-label>
                <input matInput placeholder="Title Ru" name="Title Ru" formControlName="ru">
            </mat-form-field>
        </div>

        <div formGroupName='description'>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label> Description GE </mat-label>
                <textarea matInput placeholder="Description GE" name="description" formControlName="ge" rows="5">
				</textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label> Description EN </mat-label>
                <textarea matInput placeholder="Description EN" name="description" formControlName="en" rows="5">
				</textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label> Description RU </mat-label>
                <textarea matInput placeholder="Description RU" name="description" formControlName="ru" rows="5">
				</textarea>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" type="submit" *ngIf="showSubmit"> Submit </button>
        </div>

    </div>
</form>