<li class="menu-item menu-item-has-children animate-dropdown dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle currentLang" href="#">
        {{ langService.getCurrent() }}
        <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu menu">
        <li *ngIf="langService.getCurrent() != 'en'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('en')">
            <a title="en" href="#">en</a>
        </li>
        <li *ngIf="langService.getCurrent() != 'ge'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('ge')">
            <a title="ge" href="#">ge</a>
        </li>
        <li *ngIf="langService.getCurrent() != 'ru'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('ru')">
            <a title="ru" href="#">ru</a>
        </li>
    </ul>
    <!-- .dropdown-menu -->
</li>