<li class="menu-item menu-item-has-children animate-dropdown dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle currentLang" href="#">
        {{ langService.getCurrent() }}
        <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu menu">
        <li *ngIf="langService.getCurrent() != 'en'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('en')">
            <span>en</span>
        </li>
        <li *ngIf="langService.getCurrent() != 'ge'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('ge')">
            <span>ge</span>
        </li>
        <li *ngIf="langService.getCurrent() != 'ru'" class="menu-item animate-dropdown langItem" (click)="changeLanguage('ru')">
            <span>ru</span>
        </li>
    </ul>
    <!-- .dropdown-menu -->
</li>