li {
    list-style: none;
}

.currentLang {
    font-size: 15px;
}

.menu {
    min-width: 30px;
}

.langItem {
    padding: 10px;
}

// .langItem:hover {
//     border-bottom: 5px #fd6602 !important;
// }