<div id="content" class="site-content">
    <div class="col-full">
        <div class="row">
            <nav class="woocommerce-breadcrumb">
              
            </nav>
            <!-- .woocommerce-breadcrumb -->
            <div id="primary" class="content-area">
                <main id="main" class="site-main">
                    <div class="type-page hentry">
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="customer-login-form">
                                    <span class="or-text">or</span>
                                    <div id="customer_login" class="u-columns col2-set">
                                        <div class="u-column1 col-1">
                                            <h2>{{'LOGIN.LOGIN' | translate}}</h2>
                                            <form [formGroup]="loginForm" (ngSubmit)="login()" class="woocomerce-form woocommerce-form-login login">
                                                <p class="form-row form-row-wide">
                                                    <label for="email">{{'LOGIN.EMAIL' | translate}}
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input type="text" class="input-text" formControlName="email" id="email"/>
                                                </p>
                                                <div class="input_error ml-15 mb-10" *ngIf="hasError(loginForm, 'email', 'required', submittedLoggin)">
                                                    {{'FORM_ERRORS.REQUIRED' | translate}}
                                                </div>
                                                <div class="input_error ml-15 mb-10" *ngIf="hasError(loginForm, 'email', 'email', submittedLoggin)">
                                                    {{'FORM_ERRORS.VALID_EMAIL' | translate}}
                                                </div>
                                                <p class="form-row form-row-wide">
                                                    <label for="password">{{'LOGIN.PASSWORD' | translate}}
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input class="input-text" type="password" formControlName="password" id="password" />
                                                </p>
                                                <div class="input_error ml-10 mb-15" *ngIf="hasError(loginForm, 'password', 'required', submittedLoggin)">
                                                    {{'FORM_ERRORS.REQUIRED' | translate}}
                                                </div>
                                                <div class="input_error ml-10 mb-15" *ngIf="hasError(loginForm, 'password', 'minlength', submittedLoggin)">
                                                    {{'FORM_ERRORS.MIN_LENGTH' | translate }}
                                                  </div>
                                                  <div class="input_error ml-10 mb-10" *ngIf="hasError(loginForm, 'password', 'maxlength', submittedLoggin)">
                                                    {{'FORM_ERRORS.MAX_LENGTH' | translate }}
                                                  </div>
                                                  <div class="input_error ml-10 mb-10" *ngIf="notFound">
                                                    {{'FORM_ERRORS.EMAIL_OR_PASS_INVALID' | translate }}
                                                  </div>
                                                <p class="form-row">
                                                    <!-- <input class="woocommerce-Button button" type="submit" value="Login" name="login"> -->
                                                    <button type="submit"  [disabled]="!loginForm.valid"  class="woocommerce-Button button" >{{'LOGIN.LOGIN' | translate}}</button>
                                                    <!-- <label for="rememberme" class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                                        <input class="woocommerce-form__input woocommerce-form__input-checkbox" type="checkbox" id="rememberme" formControlName="rememberme" /> Remember me
                                                    </label> -->
                                                </p>
                                                <p class="woocommerce-LostPassword lost_password">
                                                    <a href="#">{{'LOGIN.FORGOT_PASSWORD' | translate}}</a>
                                                </p>
                                            </form>
                                            <!-- .woocommerce-form-login -->
                                        </div>
                                        <!-- .col-1 -->
                                        <div class="u-column2 col-2">
                                            <h2>{{'LOGIN.REGISTRATION' | translate}}</h2>
                                            <form [formGroup]="registerForm" (ngSubmit)="register()" class="register">
                                                <p class="form-row form-row-wide">
                                                    <label for="reg_email">{{'LOGIN.EMAIL' | translate}}
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input type="email" value="" id="reg_email" formControlName="email" class="woocommerce-Input woocommerce-Input--text input-text">
                                                </p>
                                                <div class="input_error ml-10 mb-10" *ngIf="hasError(registerForm, 'email', 'required', submitted)">
                                                    {{'FORM_ERRORS.REQUIRED' | translate}}
                                                </div>
                                                <div class="input_error ml-10 mb-10" *ngIf="hasError(registerForm, 'email', 'email', submitted)">
                                                    {{'FORM_ERRORS.VALID_EMAIL' | translate}}
                                                </div>
                                                <div class="input_error ml-10 mb-10" *ngIf="hasError(registerForm, 'email', 'emailUnique', submitted)">
                                                    {{'FORM_ERRORS.SAME_EMAIL' | translate}}
                                                </div>

                                                <p class="form-row form-row-wide">
                                                    <label for="reg_password">{{'LOGIN.PASSWORD' | translate}}
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input type="password" id="reg_password" formControlName="password" class="woocommerce-Input woocommerce-Input--text input-text">
                                                </p>
                                                <div class="input_error ml-10 mb-10" *ngIf="hasError(registerForm, 'password', 'required', submitted)">
                                                    {{'FORM_ERRORS.REQUIRED' | translate}}
                                                </div>
                                                <div class="input_error ml-10 mb-10 " *ngIf="hasError(registerForm, 'password', 'minlength', submitted)">
                                                    {{'FORM_ERRORS.MIN_LENGTH' | translate }}
                                                </div>
                                                <div class="input_error ml-10 mb-10 " *ngIf="hasError(registerForm, 'password', 'maxlength', submitted)">
                                                    {{'FORM_ERRORS.MAX_LENGTH' | translate }}
                                                </div>

                                                <p class="form-row form-row-wide">
                                                    <label for="repeatPassword">{{'LOGIN.CONFIRM_PASSWORD' | translate}}
                                                        <span class="required">*</span>
                                                    </label>
                                                    <input type="password" formControlName="repeatPassword" id="repeatPassword" class="woocommerce-Input woocommerce-Input--text input-text" />
                                                </p>
                                                <div class="input_error ml-10 mb-10 " *ngIf="hasError(registerForm, 'repeatPassword', 'required', submitted)">
                                                    {{'FORM_ERRORS.REQUIRED' | translate}}
                                                </div>
                                                <div class="input_error ml-10 mb-10 " *ngIf="registerForm.errors && registerForm.errors.passwordMismatch">
                                                    {{'FORM_ERRORS.PASSWORD_MATCH' | translate}}
                                                </div>

                                                <ngx-recaptcha2 #captchaElem class="form-row captcha"
                                                    [siteKey]="'6LeOZ4YUAAAAAJ8clQYNtOXNDHsd58KZHyJeILk6'"
                                                    (success)="handleSuccess($event)"
                                                    [useGlobalDomain]="false"
                                                    formControlName="recaptcha">
                                                </ngx-recaptcha2>
                                                <div class="register-benefits">
                                                    <h3> 
                                                        {{'LOGIN.CLICK_I_ACCEPT' | translate}}
                                                        <a href="#" class="color-orange">{{'LOGIN.TERMS_AND_CONDITION' | translate}}</a> 
                                                    </h3>
                                                </div>
                                                <p class="form-row">
                                                    <button type="submit"  [disabled]="!registerForm.valid"  class="woocommerce-Button button" >{{'LOGIN.REGISTRATION' | translate}}</button>
                                                </p>
                                            </form>
                                            <!-- .register -->
                                        </div>
                                        <!-- .col-2 -->
                                    </div>
                                    <!-- .col2-set -->
                                </div>
                                <!-- .customer-login-form -->
                            </div>
                            <!-- .woocommerce -->
                        </div>
                        <!-- .entry-content -->
                    </div>
                    <!-- .hentry -->
                </main>
                <!-- #main -->
            </div>
            <!-- #primary -->
        </div>
        <!-- .row -->
    </div>
    <!-- .col-full -->
</div>