.showSubCategories {
    min-height: 784.219px !important; 
    visibility: visible !important; 
    display: block !important; 
    width: 600px !important; 
    opacity: 1 !important;
}

.bold {
    font-weight: bold;
}

.subItem {
    font-size: small;
}