<div id="departments-menu" class="dropdown departments-menu">
    <button class="btn dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="tm tm-departments-thin"></i>
        <span>All Departments </span>
    </button>
    <ul id="menu-departments-menu" class="dropdown-menu yamm departments-menu-dropdown">
        <li (mouseenter) ="mouseEnterCategoyItem($event, i)" 
            (mouseleave) ="mouseLeaveCategoyItem($event, i)"  
            class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown-submenu" 
            *ngFor="let category of categories | filterBy : 'parent' : null; let i = index">
            <a title="{{'T' | translate : category?.title }}" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" href="#">{{'T' | translate : category?.title }}<span class="caret"></span></a>
            <ul role="menu" class=" dropdown-menu" [ngClass]="{'showSubCategories': showSubmCategory === i}" >
                <li class="menu-item menu-item-object-static_block animate-dropdown">
                    <div class="yamm-content">
                        <div class="bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                            <div class="kc-col-container">
                                <div class="kc_single_image">
                                    <!-- <img src="assets/images/megamenu-1.jpg" class="" alt="" /> -->
                                </div>
                                <!-- .kc_single_image -->
                            </div>
                            <!-- .kc-col-container -->
                        </div>
                        <!-- .bg-yamm-content -->
                        <div class="row yamm-content-row">
                            <!-- <div class="col-md-6 col-sm-12" *ngFor="let subCategoty of filterBy(category._id)"> -->
                            <div class="col-md-12 col-sm-12" *ngFor="let subCategoty of filterBy(category._id)">
                                <li class="catTitle">{{'T' | translate : subCategoty?.title }}</li> 
                                <div class="row">
                                    <li class="subItem col-md-4" *ngFor="let subCategoryItems of filterBy(subCategoty._id) ">
                                        <a href="shop.html" class="catLink">
                                            {{'T' | translate : subCategoryItems?.title }}
                                            {{ subCategoty.id }}
                                        </a>
                                    </li>
                                </div>
                                <!-- .kc-col-container -->
                            </div>
                            <!-- .kc_column -->
                            <div class="col-md-6 col-sm-12">
                                <div class="kc-col-container">
                                    <div class="kc_text_block">
                                        <ul>
                                            <!-- <li class="nav-title">Audio & Video</li>
                                            <li><a href="shop.html">All Audio & Video</a></li>
                                            <li><a href="shop.html">Headphones & Speakers</a></li>
                                            <li><a href="shop.html">Home Entertainment Systems</a></li>
                                            <li><a href="shop.html">MP3 & Media Players</a></li> -->
                                        </ul>
                                    </div>
                                    <!-- .kc_text_block -->
                                </div>
                                <!-- .kc-col-container -->
                            </div>
                            <!-- .kc_column -->
                        </div>
                        <!-- .kc_row -->
                    </div>
                    <!-- .yamm-content -->
                </li>
            </ul>
        </li>
      

        

        <!-- <li class="menu-item menu-item-type-custom animate-dropdown">
            <a title="Gadgets" href="landing-page-v1.html">Gadgets</a>
        </li>
        <li class="menu-item menu-item-type-custom animate-dropdown">
            <a title="Virtual Reality" href="landing-page-v2.html">Virtual Reality</a>
        </li> -->

    </ul>
</div>
