.showSubCategories {
    min-height: 784.219px !important; 
    visibility: visible !important; 
    display: block !important; 
    width: 600px !important; 
    opacity: 1 !important;
}

.catTitle {
    font-size: 16px;
    font-weight: 700;
    font-size: 1em;
    padding: .571em 0;
    min-height: 2.667em;
    margin-bottom: 0;
}
.subItem {
    font-size: 13px;
}
.catLink:hover {
   color: #fd6602 !important;
}