.formLabel {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cursor-pointer {
    cursor: pointer;
}

.display-choosed-category {
    border: solid 1px #e0e0e0;
    width: 400px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.choosed-category {
    font-size: large;
    text-decoration: none;
    display: inline;
    padding: 5px;
    text-transform: uppercase;
    color: #039be5;
}

.list {
    width: 500px;
    overflow-x: hidden;
    overflow-y:scroll; 
    min-height: 100px;
    max-height: 400px;
}

.list-elemnt {
    border: solid 1px #e0e0e0;
    width: 400px;
}

.list-elemnt:hover {
    color: royalblue !important;
}

.my-fab {
    width: 25px;
    height: 25px;
    line-height: 16px;
    font-size: 15px;

    &::ng-deep .mat-button-wrapper{
        line-height: 16px;
        padding: 0;

         .mat-icon {
             font-size: 15px;
            //  padding-right: 5px;
             padding-top: 5px;
         }
   }
}