<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="formData">
    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">

        <!-- <mat-form-field  [style.width.px]=300 >
            <mat-label>Categories</mat-label>
            <mat-select  formControlName="parent"  panelClass="my-select-panel-class">
                <mat-option *ngFor="let state of filteredStates" [value]="state">{{ state }}</mat-option>
            </mat-select>
        </mat-form-field>  -->

       <h2 *ngIf="choosedCategory" class="display-choosed-category "> 
           <button mat-mini-fab class="my-fab" color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon (click)="removeChoosedCategory()">delete</mat-icon>
            </button>
            {{ choosedCategory?.title?.ge || choosedCategory?.name  }}
        </h2>
        <div fxLayout="row" fxLayoutAlign="space-between">
             <mat-form-field appearance="legacy" fxFlex="28">
                <input matInput placeholder="მოძებნე კატეგორია" (keyup)="filterByCategoryName($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <!-- *ngIf="parentCategory !== null" -->
            <button mat-mini-fab color="primary" class="my-fab"   >
                <mat-icon class="cursor-pointer" (click)="filterByParentCategory()">arrow_back</mat-icon>
            </button>
            <span href="#" class="choosed-category"> {{ parentCategory?.title?.ge || parentCategory?.name }} </span>
        </div>
        <mat-list fxLayout="column" fxLayoutAlign="start start" class="list mb-24">
            <mat-list-item class="cursor-pointer list-elemnt" *ngFor="let category of filteredCategoties" (click)="filterByCategory(category)"> {{ category?.title?.ge || category?.name  }} </mat-list-item>
        </mat-list>


      

        <!-- <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <input matInput placeholder="აირჩიე კატეგორია" >
                <ul>
                    <li>Item 1</li>
                    <li>>Item 2</li>
                </ul>
            </mat-menu>
        </div> -->



        <!-- <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label></mat-label>
                <input matInput placeholder="აირჩიე კატეგორია" >
            </mat-form-field>
        </div> -->


        <!-- <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="State"
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete" formControlName="parent">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
        

        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> name * </mat-label>
                <input matInput placeholder="name" name="name" formControlName="name">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title Ge * </mat-label>
                <input matInput placeholder="title Ge" name="title Ge" formControlName="ge">
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title En * </mat-label>
                <input matInput placeholder="title En" name="title En" formControlName="en">
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title ru * </mat-label>
                <input matInput placeholder="title ru" name="title ru" formControlName="ru">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" type="submit" *ngIf="showSubmit"> Submit </button>
        </div>

    </div>
</form>