<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="formData">
    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
<!-- 
        <mat-form-field  [style.width.px]=300 >
            <mat-label>Service type *</mat-label>
            <mat-select  formControlName="serviceType"  panelClass="my-select-panel-class">
                <mat-option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
        </mat-form-field>-->

        <mat-form-field class="example-full-width">
            <input matInput
                   placeholder="State"
                   aria-label="State"
                   [matAutocomplete]="auto"
                   [formControl]="stateCtrl">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        

        <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="50">
                <mat-label> name * </mat-label>
                <input matInput placeholder="name" name="name" formControlName="name">
            </mat-form-field>
        </div>

        <h2>Title</h2>
        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title Ge * </mat-label>
                <input matInput placeholder="title Ge" name="title Ge" formControlName="ge">
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title En * </mat-label>
                <input matInput placeholder="title En" name="title En" formControlName="en">
            </mat-form-field>
            
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title ru * </mat-label>
                <input matInput placeholder="title ru" name="title ru" formControlName="ru">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button color="primary" type="submit" *ngIf="showSubmit"> Submit </button>
        </div>

    </div>
</form>