<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
  
        <div class="custom-slied-toggle">
            <mat-slide-toggle formControlName="isPublic">is-public</mat-slide-toggle>
        </div>

        <mat-form-field [style.width.px]=500 *ngIf="filterTypes">
            <mat-label>filter-type</mat-label>
            <mat-select formControlName="filterType" >
                <mat-option *ngFor="let item of filterTypes" [value]="item">{{ item }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between" >
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                <mat-label> title en </mat-label>
                <input matInput placeholder="title en" formControlName="slug">
            </mat-form-field>                
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title ge </mat-label>
                <input matInput placeholder="title ge" formControlName="ge">
            </mat-form-field>

            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title en </mat-label>
                <input matInput placeholder="title en" formControlName="en">
            </mat-form-field>                         
       
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                <mat-label> title ru </mat-label>
                <input matInput placeholder="title ru" formControlName="ru">
            </mat-form-field>
                
        </div>
    
        <h2>values</h2>
        <div formArrayName="values">
            <mat-card *ngFor="let item of filters.controls; let i = index;" style="margin-bottom: 20px;">
                <h2>Value {{i + 1}}</h2>
                <div [formGroupName]="i" style="margin: 20px">

                    <div fxLayout="row" fxLayoutAlign="space-between" formGroupName='title'>

                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                            <mat-label> title ge </mat-label>
                            <input matInput placeholder="title ge" formControlName="ge">
                        </mat-form-field>
            
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                            <mat-label> title en </mat-label>
                            <input matInput placeholder="title en" formControlName="en">
                        </mat-form-field>                         
                   
                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                            <mat-label> title ru </mat-label>
                            <input matInput placeholder="title ru" formControlName="ru">
                        </mat-form-field>
                            
                    </div>

                    <button type="button" mat-raised-button color="warn" (click)="deleteFilter(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
            <button type="button" mat-raised-button color="accent" (click)="addFilter('filters')"
                    style="margin-bottom: 30px;">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </div>
</form>